
body {
    height: 100vh;
    font-family: 'Signika Negative', sans-serif;
}

header {
    width: 100%;
    height: 15vh;
    display: flex;
    align-items: center;
    justify-content:center;
    background-color: #E5DDC8;
    border-bottom: solid 4px #DB1F48;
}

.logo {
    display: flex;
    flex-direction: row;
    align-items: center;
    position: absolute;
    left: 30px;
}

.logo div {
    margin-left: 10px;
    color: #004369;
    font-size: 18px;
    font-weight: bold;
}

header h1 {
    width: 50%;
    text-align: center;
    color: #004369;
    text-transform: uppercase;
    font-size: 25px;
    font-weight: bold;
}

main{
    width: 100%;
    height: 73vh;
    background: #01949A;
}

section {
    width: 100%;
    height: 73vh;
    display: flex;
    align-content: center;
    justify-content: space-between;
    flex-direction: row;
}

.texto {
    border: solid 2px #E5DDC8;
    border-radius: 15px;
    align-items: center;
    width: calc(80%/2);
    height: 65vh;
    margin: 1%;
    margin-left: 5%;
    padding: 10px;
    display: flex;
    flex-direction: column;
}

#contenedor-transcripcion {
    position: absolute;
    right: 1%;
    z-index: -1;
    opacity: 0;
    margin-right: 5%;
    transition: opacity 0.5s;
}

.texto label {
    color:#E5DDC8;
    font-size: 20px;
    text-align: center;
    margin-bottom: 10px;
}

.texto textarea {
    width: 100%;
    height: 50vh;
    resize: none;
    background: #004369;
    border: none;
    border-radius: 10px;
    color:#E5DDC8;
}

.texto textarea:focus {
    outline: none;
}

.botones {
    width: 100%;
    display: flex;
    flex-direction: row;
    justify-content:space-between;
}

button {
    width: 48%;
    border: solid 2px #E5DDC8;
    border-radius: 10px;
    background: #DB1F48;
    color:#E5DDC8;
    padding: 10px;
    margin-top: 20px;
    text-transform: uppercase;
}

button:hover {
    color: #004369;
    border: solid 2px #DB1F48;
    background: #E5DDC8;
    transition:all 0.3;
    transform: scale(1.05);
}

#contenedor-img {
    position: relative;
    margin-top: 10px;
    right: 1%;
    margin-right: 5%;
    padding: 10px;
    border: solid 2px #E5DDC8;
    border-radius: 15px;
    color: #E5DDC8;
    display: flex;
    flex-direction: column;
    width: calc(80%/2);
    height: 65vh;
    align-items: center;
    justify-content: center;
    opacity: 1;
    transition: opacity 0.5s;
}

#contenedor-img #img {
    width: 80%;
    height: 50vh;
    display: flex;
    align-items: center;
    justify-content: center;
}

#contenedor-img h2 {
    text-transform: uppercase;
    color: #004369;
    font-size: 18px;
    font-weight: bold;
    margin-top: 30px;
}

footer {
    width: 100%;
    height: calc(100vh - 15vh - 4px - 73vh - 4px);
    display: flex;
    align-items: center;
    justify-content: center;
    font-size: 18px;
    border-top: solid 4px #DB1F48;
    color: #004369;
    background: #E5DDC8;
}

footer p{
    width: 50%;
    text-align: center;
}

@media only screen and (max-width: 768px) { /*tablet*/
    body {
        width: 100%;
        height: 100vh;
    }

    header {
        width: 100%;
        height: 10vh;
    }

    main {
        width: 100%;
        height: 80vh;
    }

    section {
        width: 100%;
        height: 80vh;
        position: relative;
        justify-content: space-around;
        align-items: center;
        display: flex;
        flex-direction: column;
        flex-wrap: wrap;
        overflow: hidden;
    }

    .texto {
        position: relative;
        width: 90%;
        height: 30vh;
        margin: 0;
        padding: 7px;
        display: flex;
        align-items: center;
    }

    .texto label {
        font-size: 15px;
        margin-bottom: 2px;
    }

    .texto #input, .texto #transcripcion {
        width: 90%;
        height: 80%;
    }

    .texto .botones {
        width: 90%;
        height: 20%;
        display: flex;
        align-items: center;
    }

    .texto .botones button {
        margin: 0;
        margin-top: 10px;
        height: 100%;
        text-align: center;
        text-justify: center;
    }

    #contenedor-transcripcion {
        position: absolute;
        left: 30px;
        right: 0;
        bottom: 10px;
        width: 90%;
        height: 30vh;
        margin: 0;
        opacity: 1;
        display: flex;
        align-items: center;
        justify-items: center;
    }

    #contenedor-img {
        position: relative;
        display: flex;
        left: 0;
        right: 0;
        margin: 0;
        width: 90%;
        height: 5vh;
        text-align: center;
    }

    #contenedor-img h2 {
        margin: 0;
    }

    #contenedor-img #img {
        display: none;
    }

    footer {
        width: 100%;
        height: 10vh;
    }
}

@media only screen and (min-width: 375px) {
    header {
        justify-content:flex-end;
    }
}

@media only screen and (max-width: 375px) { /*celular*/
    body {
        width: 100%;
        height: 100vh;
        display: flex;
        flex-direction: column;
        justify-content: center;
        align-items: center;
    }

    header {
        width: 100%;
        height: 10vh;
        display: flex;
        flex-direction: column;
        justify-content:space-around;
    }

    .logo {
        position: relative;
        left: 0;
        width: 100%;
        height: 10vh;
        display: flex;
        align-items: center;
        justify-content: center;
        padding: 1%;
    }

    header h1 {
        position: relative;
        width: 100%;
        height: 5vh;
        display: flex;
        align-items: center;
        justify-content: center;
        padding: 1%;
    }

    main {
        width: 100%;
        height: 80vh;
        display: flex;
    }

    section {
        width: 100%;
        height: 80vh;
        display: flex;
        flex-direction: column;
        align-items: center;
        align-content: space-around;
        }

    .texto {
        position: relative;
        width: 80%;
        height: 40%;
        padding: 10px;
        margin: 0; 
    }

    .texto #input {
        width: 100%;
        height: 80%;
    }

    .texto .botones {
        width: 100%;
        height: 20%;
    }

    #contenedor-transcripcion {
        position: absolute;
        left: 25px;
        width: 80%;
        height: 40%;
        margin: 0;
        padding: 10px;
        opacity: 1;
    }

    #contenedor-img {
        width: 80%;
        height: 20%;
        margin: 0;
        padding: 10px;
    }

    #img {
        display: none;
        position: absolute;
    }

    footer {
        height: 10vh;
    }
}

/* gama de colores
navy: #004369
red: #DB1F48
teal: #01949A
crema: #E5DDC8 
*/